<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.grupo81.pm2e19000" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="21" android:targetSdkVersion="30" />
	<application android:label="PM2E19000.Android" android:theme="@style/MainTheme">
		<meta-data android:name="com.google.android.geo.API_KEY" android:value="AIzaSyDckTTyGWzF1wea-bOREXeIwUPu_Vc1aSg" />
		<provider android:name="androidx.core.content.FileProvider"
				  android:authorities="${applicationId}.fileprovider"
				  android:exported="false"
				  android:grantUriPermissions="true">
			<meta-data android:name="android.support.FILE_PROVIDER_PATHS"
				android:resource="@xml/file_paths"></meta-data>
		</provider>
	</application>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
	<uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
</manifest>